@import url("./fonts/font.css");
* {
  box-sizing: border-box;
  margin: 0;
}
:root {
  --gradient-main: linear-gradient(
    90deg,
    rgba(180, 5, 160, 1) 0%,
    rgba(98, 9, 121, 1) 46%,
    rgba(0, 212, 255, 1) 100%
  );
  --gradient-light: linear-gradient(
    90deg,
    rgba(191, 119, 183, 1) 0%,
    rgba(118, 84, 126, 1) 46%,
    rgba(149, 237, 255, 1) 100%
  );
}
